body {
    overflow-x: hidden;
}


@font-face {
    font-family: 'Foglihten';
    src: url(fonts/FoglihtenNo06_076.woff) format('woff');
}


h1, h2, h3, h4 {
    font-family: 'Foglihten';
    line-height: .8;
    margin: 0;
    font-variant-caps: all-petite-caps;
}

p, a {

}

.nav {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
}

.nav-cont {
    padding: 40px 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav a:hover {
    text-decoration: none;
    opacity: .7;
}

.nav img {
    width: 300px;
}

.nav-links a {
    font-size: 18px;
    margin: 0 15px;
    color: #000;
}

.phone {
    display: flex;
    flex-direction: row;
}

.phone img {
    width: 27px;
    margin-right: 10px;
}

.phone a {
    font-size: 18px;
    color: #000;
}

.cover {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.cover img {
    height: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    right: 0;
}

.cover-text {
    padding-top: 40px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
}

.cover-text h1 {
    font-size: 100px;
    font-variant-caps: all-petite-caps;
}

.cover-text p {
    font-size: 18px;
    margin: 40px 0;
}

.cover-text a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.button {
    background-color: #2B6CAB;
    padding: 12px 45px;
    border: none;
    color: #fff;
}

.button:hover {
    background-color: #1a538d;
    border: none;
    color: #fff;
}

.cover-text p {
    font-size: 18px;
}

.main-about {
    background-color: #0592C2;
    width: 100%;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.a-img {
    margin-left: 200px;
    height: 80%;
    object-fit: cover;
    margin-right: 10%;
}

.a-text-block {
    width: 40%;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 10px;
}

.list p {
    margin: 0 !important;
}

.list img {
    width: 45px;
    margin-right: 15px;
}

.a-text-block h2 {
    font-size: 65px;
    font-variant-caps: all-petite-caps;
}

.a-text-block p {
    font-size: 18px;
    margin: 20px 0;
}

.list p {
    font-size: 18px;
}

.work {
    display: flex;
    flex-direction: column;
}

.works-list {
    margin: 100px 200px 100px 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.w-img {
    width: 40%;
}

.w-list-cont {
    width: 55%;
}

.w-list-cont h2 {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 30px;
}

.w-list-cont p {
    font-size: 18px;
    margin: 0 !important;
}

.w-list-cont img {
    width: 30px !important;
    height: 40px;
}

.w-blue {
    text-align: center;
    background-color: #A7CDFE;
    padding: 45px 200px 40px 200px;
}

.work h3 {
    line-height: 1;
    font-size: 35px;
}

.work p {
    font-size: 18px;
    margin-top: 15px;
}

.form {
    width: 100%;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-cont {
    /* width: 70%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FDDCBA;
    padding: 70px 40px;
}

.form-cont h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.form-cont label {
    font-size: 16px;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form input, form select {
    width: 600px;
    padding: 10px;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px 200px;
    background-color: #1a538d;
}

.foo-a a{
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

/* ------------------------------------------------Обо мне -------------------------------------- */

.about-cover {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-cover h1 {
    font-size: 100px;
    margin-top: 100px;
}

.about-cover-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 200px;
}

.about-cover-cont img {
    width: 30%;
    height: 90%;
    object-fit: cover;
    margin-right: 10%;
}

.about-cover-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.about-cover-text p {
    font-size: 17px;
}

.exp-cont {
    background-color: #CAE0FF;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.exp-cont h2 {
    margin-bottom: 40px;
    font-size: 70px;
}

.exp-list {
    margin: 0 200px;
}

.a-divs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.a-divs h3 {
    margin-bottom: 20px !important;
    width: 70%;
    font-size: 40px;
}

.diplom-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}

.diplom-cont h2 {
    text-align: center;
    font-size: 80px;
}

.diploms {
    padding: 0 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

.twoimg {
    display: flex;
    flex-direction: column;
    width: 19%;
}

.twoimg img {
    width: 100%;
    object-fit: cover;
    margin: 10px 0;
}

.gallery {
    width: 19%;
}
  
.gallery img {
    width: 100%;
    object-fit: cover;
}


/* ------------------------------------------- Отзывы ------------------------------------------- */

.rew-cover {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 180px;
    margin-bottom: 60px;
}

.rew-cover h1 {
    font-size: 100px;
    margin-bottom: 20px;
}

.rew-cover p {
    font-size: 18px;
}

.rew-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.rew-cont img {
    width: 60%;
    object-fit: cover;
}

.rew-b {
    background-color: #CAE0FF;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rew-w {
    background-color: #ffffff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ------------------------------------------- Услуги и цены -------------------------------------------- */

.price-cover {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 180px;
    margin-bottom: 60px;
}

.price-cover h1 {
    font-size: 100px;
    margin-bottom: 40px;
}

.price-h {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.price-h h2 {
    font-size: 60px;
    margin-bottom: 20px;
    width: 70%;
}

.price-h p {
    font-size: 23px;
    color: #0f6fcf;
    font-variant-caps: all-petite-caps;
}

.price-price {
    margin-top: 30px;
}

.price-price p {
    opacity: .6;
    font-size: 20px;
    font-variant-caps: all-petite-caps;
}

.price-price h3 {
    font-size: 50px;
    margin-top: 10px;
}

hr {
    width: 80%;
    border: 1px solid rgb(218, 229, 232);
    text-align: center;
    margin-bottom: 80px;
}

.pr-works {
    margin-top: 40px !important;
}

.price-blue {
    background-color: #CAE0FF;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0 0 0;
    margin-bottom: 80px;
}

.price-blue-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-left: 5%;
}

.price-blue-text p {
    font-size: 18px;
}

/* -------------------------------------------- Контакты --------------------------------------------- */

.cont-cover {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 180px;
    margin-bottom: 60px;
}

.cont-cover h1 {
    font-size: 100px;
    margin-bottom: 40px;
}

.cont-cover p{
    font-size: 18px;
}

.cont-cover a {
    font-size: 35px;
    color: #000;
    text-decoration: none;
}

.cont-phone {
    margin: 40px 0;
}

.links img {
    margin: 0 10px;
    width: 60px;
}

.cont-cover a:hover {
    opacity: .7;
    text-decoration: none;
}